.header {
    background-color: #171645;
    color: #ffffff;
    padding: 50px;
    
        .header.title {
            margin-bottom: 50px;
        }
    
        img {
            width: 100%;
            height: auto;
        }
    }