
.header {
    background-color: #171645;
    color: #ffffff;
    padding: 34px;
   
      .header.title {
          margin-bottom: 50px;
      }
  
      img {
          width: 30vw;
          height: 30vw;
          padding: 10px;
      }
  }

  